{% extends "base.html" %}
{% block content %}

<div class="container-fluid pt-3">
        <div class="container">
                <h1 class="display-4 text-uppercase h1C">Welcome To Bakistry</h1>
        </div>
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="max-width: 700px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="/static/image/aboutPi.jpeg" style="min-height: 400px;">
                    </div>
                </div>
                <div class="col-lg-6 pb-5">
                    <h4 class="mb-4">Like a fantasy that feels unreal, every delicacy by ‘Bakistry’ holds a charm that</h4>
                    <p class="mb-5 p1">
                        Like a fantasy that feels unreal, every delicacy by 'Bakistry’ holds a charm that
                        enchants with every bite making all your
                        dessert creams come true!
                        Founded in Lahore in 2023, the philosophy of Bakistry was simple; to create connections
                        through desserts while striking the ideal balance between flavor and feeling.
                        Since the beginning, Bakistry has secured an irreplaceable spot in the hearts of people.</p>
                    <div class="row g-5">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center justify-content-center footerColor border-inner mb-4"
                                 style="width: 60px; height: 60px;">
                                <i class="fa fa-heartbeat fa-2x text-white"></i>
                            </div>
                            <h4 class="text-uppercase">100% Healthy</h4>
                            <p class="mb-0">Hands down, the healthiest cakes on this planet!
                                Moist and with a tender crumb, these healthy cakes are sugar free, fat free, and low
                                calorie.</p>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center justify-content-center footerColor border-inner mb-4"
                                 style="width: 90px; height: 90px;">
                                <i class="fa fa-award fa-2x text-white"></i>
                            </div>
                            <h4 class="text-uppercase">Award Winning</h4>
                            <p class="mb-0">Providing 24/7 services for ease of our customers </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}

