{% extends "base.html" %} {% block content %}

<!-- Carousel Start -->
<div class="page-header wow fadeIn" data-wow-delay="0.1s">
    <div class="row justify-content-start">
      <div class="col-lg-8">
        <p class="text-primary text-uppercase fw-bold mb-2">
          // The Best Bakery
        </p>
        <h1 class="display-3 text-light mb-4 animated slideInDown">
          We Bake With Passion
        </h1>
        <p class="text-light fs-5 mb-4 pb-3">
          Have a special event coming up? We specialize in creating customized
          treats tailored to your preferences.
        </p>
      </div>
    </div>
</div>
  <!-- Carousel End -->

<!-- Facts Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="fact-item bg-light rounded text-center h-100 p-5">
          <i class="fa fa-certificate fa-4x text-primary mb-4"></i>
          <p class="mb-2">Years Experience</p>
          <h1 class="display-5 mb-0" data-toggle="counter-up">50</h1>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.3s">
        <div class="fact-item bg-light rounded text-center h-100 p-5">
          <i class="fa fa-users fa-4x text-primary mb-4"></i>
          <p class="mb-2">Skilled Professionals</p>
          <h1 class="display-5 mb-0" data-toggle="counter-up">175</h1>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.5s">
        <div class="fact-item bg-light rounded text-center h-100 p-5">
          <i class="fa fa-bread-slice fa-4x text-primary mb-4"></i>
          <p class="mb-2">Total Products</p>
          <h1 class="display-5 mb-0" data-toggle="counter-up">135</h1>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.7s">
        <div class="fact-item bg-light rounded text-center h-100 p-5">
          <i class="fa fa-cart-plus fa-4x text-primary mb-4"></i>
          <p class="mb-2">Order Everyday</p>
          <h1 class="display-5 mb-0" data-toggle="counter-up">9357</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Facts End -->

<!-- About Start -->
<div class="container-xxl py-6">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="row img-twice position-relative h-100">
          <div class="col-6">
            <img
              class="img-fluid rounded"
              src="../static/image/about-1.jpg"
              alt=""
            />
          </div>
          <div class="col-6 align-self-end">
            <img
              class="img-fluid rounded"
              src="../static/image/about-2.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="h-100">
          <p class="text-primary text-uppercase mb-2">// About Us</p>
          <h1 class="display-6 mb-4">
            We Bake Every Item From The Core Of Our Hearts
          </h1>
          <p>
            Welcome to Zainab's bakistry! here passion and craftsmanship blend
            to create extraordinary baked goods. Founded with a deep love for
            baking, we take pride in delivering exceptional treats that ignite
            joy and leave a lasting impression on every palate. Our journey
            began with a simple vision: to provide our community with delectable
            delights made with the finest ingredients and a dash of creativity.
          </p>
          <p>
            At Bakistry, we believe in the power of artisanal baking. Every day,
            our talented team of bakers and pastry chefs pour their heart and
            soul into crafting a wide array of confections that tantalize the
            senses.
          </p>
          <div class="row g-2 mb-4">
            <div class="col-sm-6">
              <i class="fa fa-check text-primary me-2"></i>Quality Products
            </div>
            <div class="col-sm-6">
              <i class="fa fa-check text-primary me-2"></i>Custom Products
            </div>
            <div class="col-sm-6">
              <i class="fa fa-check text-primary me-2"></i>Online Order
            </div>
            <div class="col-sm-6">
              <i class="fa fa-check text-primary me-2"></i>Home Delivery
            </div>
          </div>
          <a class="btn btn-primary rounded-pill py-3 px-5" href=""
            >Read More</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Product Start -->
<div class="container-xxl bg-light my-4 py-5 pt-0">
  <div class="container py-3">
    <div
      class="text-center mx-auto mb-6 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 500px"
    >
      <p class="text-primary text-uppercase mb-2">// Bakery Products</p>
      <h1 class="display-6 mb-5">
        Explore The Categories Of Our Bakery Products
      </h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div
          class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100"
        >
          <div class="text-center p-4">
            <div
              class="d-inline-block border border-primary rounded-pill px-3 mb-3"
            >
              Rs.1400Rs - Rs.3700
            </div>
            <h3 class="mb-3">Cake</h3>
            <span
              >Indulge in our heavenly collection of custom-designed cakes for
              every occasion</span
            >
          </div>
          <div class="position-relative mt-auto">
            <img class="img-fluid" src="../static/image/product-1.jpg" alt="" />
            <div class="product-overlay">
              <a
                class="btn btn-lg-square btn-outline-light rounded-circle"
                href="/login"
                ><i class="fa fa-eye text-primary"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div
          class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100"
        >
          <div class="text-center p-4">
            <div
              class="d-inline-block border border-primary rounded-pill pt-1 px-3 mb-3"
            >
              Rs.200 - Rs.700
            </div>
            <h3 class="mb-3">Bread</h3>
            <span>
              Experience the warm aroma and unmatched taste of our artisan bread
              selection.</span
            >
          </div>
          <div class="position-relative mt-auto">
            <img class="img-fluid" src="../static/image/product-2.jpg" alt="" />
            <div class="product-overlay">
              <a
                class="btn btn-lg-square btn-outline-light rounded-circle"
                href="/login"
                ><i class="fa fa-eye text-primary"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div
          class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100"
        >
          <div class="text-center p-4">
            <div
              class="d-inline-block border border-primary rounded-pill pt-1 px-3 mb-3"
            >
              Rs.100 - Rs.1200
            </div>
            <h4 class="mb-3">Cookies</h4>
            <span
              >Our cookies are a true labor of love, made from scratch with
              premium ingredients.</span
            >
          </div>
          <div class="position-relative mt-auto">
            <img class="img-fluid" src="../static/image/product-3.jpg" alt="" />
            <div class="product-overlay">
              <a
                class="btn btn-lg-square btn-outline-light rounded-circle"
                href="/login"
                ><i class="fa fa-eye text-primary"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product End -->

{% endblock %}
