{% extends "base.html" %}
{% block content %}

<div class="container-fluid footerColor p-5 mb-5" style="margin-top: 2px">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-uppercase text-white">Master Chefs</h1>
            </div>
        </div>
    </div>
<div class="container-fluid py-5">
        <div class="container">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h2 class="text-primary font-secondary" style="margin:-60px">Team Members</h2>
                <h1 class="display-4 text-uppercase   text-white" style="margin-top: 60px">Our Master Chefs</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 col-md-6">
                    <div class="team-item">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="/static/image/team3.jpeg" alt="" style="height: 225px">
                            <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                                <div class="d-flex align-items-center justify-content-start">
                                    <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="footerColor border-inner text-center p-4">
                            <h4 class="text-uppercase color">Dania</h4>
                            <p class="color m-0">Certified Cake Decorator with 4 plus years working the Grocery Dell/Bakery Department. Excellent skills in customer service, providing customer satisfaction. Delegated, supervised and trained co- workers with respect. Maintained gross profit by Inventory control, sales and the proper amount of labor. Always maintained a professional persona in dealing with co-workers and customers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-item">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="/static/image/team1.jpeg" alt="" style="height: 225px">
                            <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                                <div class="d-flex align-items-center justify-content-start">
                                    <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="footerColor border-inner text-center p-4">
                            <h4 class="text-uppercase color">Ahmad</h4>
                            <p class="color m-0">Cake decorator specialist with 6-year history creating beautiful specialty cakes for birthday and lavish events. Wide range of skills includes custorn bread, cookies, and pies. Highly organized and a supportive team player. To offer excellent customer service and have a positive attitude and be knowledgeable at customers needs. To participate in leaming to improve my skills. To be a great asset to the company.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-item">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="/static/image/team2.jpeg" alt="" style="height: 225px">
                            <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                                <div class="d-flex align-items-center justify-content-start">
                                    <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="footerColor border-inner text-center p-4">
                            <h4 class="text-uppercase color">Aiman</h4>
                            <p class="color m-0">Provided great customer service of all times

Prepared/frosted donuts, made fancy pastries, decorated birthday holiday and wedding cakes.Prepare orders, ordered product, customer service, answering phones

cashiering, baking following directions for cake orders Clean bakery, decorate custom cakes, customer service and provide

presentable appetizing desserts for the dept
</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
