{% extends "base.html" %}
{% block content %}

<div class="container-fluid footerColor p-5 mb-5" style="margin-top: 2px">
        <div class="row">
            <div class="col-12 text-center">
                <marquee><h1 class="display-4 text-uppercase color">Custom Cakes</h1></marquee>
            </div>
        </div>
    </div>
<div class="container-fluid about py-5">
        <div class="container">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h2 class="text-primary font-secondary" style="margin-top: -50px">Menu & Pricing</h2>
                <h1 class="display-4   color">Explore Our Cakes</h1>
            </div>
            <div class="tab-class text-center">
                <ul class="nav nav-pills d-inline-flex justify-content-center footerColor text-uppercase border-inner p-4 mb-5" style="margin-top: -20px">
                    <li class="nav-item">
                        <a class="nav-link color" data-bs-toggle="pill" href="/birthday">Birthday Cakes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color" data-bs-toggle="pill" href="/wedding">Wedding Cakes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color" data-bs-toggle="pill" href="/custom">Custom Cakes</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-3">
                            {% for item in cust_cake %}
                            <div class="col-lg-6">
                                <div class="d-flex h-100">
                                    <div class="flex-shrink-0">
                                       <img class="img-fluid" src="/static/image/cstm3.jpg" alt="" style="width: 150px; height: 150px;">
                                        <h4 class="footerColor color p-2 m-0" name="Price">Rs.{{ item.Price }}</h4>
                                    </div>
                                    <div class="d-flex flex-column justify-content-center text-start   border-inner px-4">
                                        <h5 class="text-uppercase color" style="margin-top: -97px" value="{{item.Price}}" name="Name">{{ item.Name }} </h5>
                                        <span class="color" style="margin-top: 100px">{{ item.Description }} </span>
                                        <button type="submit" id="submit" class="btn btn-sm btn-warning" style="margin:7px 0 13px 0" onclick="addToCart(this)">Add to Cart
                                        </button>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div style="display:flex;justify-content: center;">
    <div id="cart" style="color:white">
        <h3>Cart</h3>
        <!-- Cart Item List -->
        <div style="overflow:auto; height:190px">
            <div class="cart-item-list">
            </div>
        </div>

        <button id="submit-cart" class="button">Submit</button>
    </div>
</div>



    
  <script>
        let data = {};


        // click on button submit
        function addToCart(obj)
        {
            var item = obj.parentElement.firstElementChild;
            let itemName = item.innerHTML;
            let itemPrice = item.getAttribute('value');
            //10
            if(data.hasOwnProperty(itemName))
            {
                let item = data[itemName];
                //will increase count of items
                item.count = item.count + 1;
                data[itemName] = item;
                count = item.count;
            }
            else
            {
                //if item doesnt exist it creates and gives count 1
                // img = $(event.target).parent().prev()[0];
                let item = {'name':itemName,'price': itemPrice, 'count': 1, 'type': 'custom'}
                data[itemName]=item;
            }
            var cartItem = '<div class="cart-item">'+
                                '<h4 class=" inline";">' + itemName + '</h4>' + ': ' +
                                '<h4 class="inline">' + itemPrice + '</h4>' +
                                '<button class="remove-item">X</button>' +
                            '</div>';

            $('.cart-item-list').append(cartItem);
      }
     $(document).on('click', '.remove-item', function() {
      cakeName = $(this).prev().prev().text();
        let cake = data[cakeName]
        cake["count"] -= 1
        data[cakeName] = cake

        if(cake["count"] == 0)
        {
            delete data[cakeName];
        }
        console.log(data);
    //   $.ajax({
    //     url:'/removeItem',
    //     type:'POST',
    //     data: JSON.stringify(dishName),

    //   });
      $(this).closest('.cart-item').remove();

    });

    $('#submit-cart').click(function()
    {
        data = JSON.stringify(data);
        console.log(data);
        $.ajax({
            url: '/api/addItem',
            type: 'POST',
            data:data,

            success: function(response)
            {
                console.log(response);
                window.location.href = "http://127.0.0.1:5000/view-cart";
            }
        })
    })
    </script>
    {% endblock %}
