{% extends "base.html" %}
{% block content %}
<style>
body {
  background-color: #EAA636;
}
.pass {
    background-image: url("/static/update.jpeg");
    margin-top: 20px;
    margin-left: 300px;
    font-size: medium;
    font-weight: bold;
    background-color: black;
    color: white;
}
.t1{
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}
</style>

<div class="card pass" style="width: 800px; height: 600px;">
    <h1 class="text-center" style="color: white;">Your Password is updated</h1>
    <p class="t1">Your password has been changed successfully.<br>
        Use your new password to <a href="/login" style="color:#EAA636;">login</a></p>
</div>
<script>
$(document).ready(function(){
    // click on button submit
    $("#submit").on('click', function(){
        // send ajax
        var formdata = $("#form").serializeArray();
        var data = {};
        console.log(formdata)
        $(formdata ).each(function(index, obj){
            data[obj.name] = obj.value;
        });
        data=JSON.stringify(data)
        console.log(data)
        $.ajax({
            url: '/api/customers', // url where to submit the request
            type : "PUT", // type of action POST || GET
            data : data, // post data || get data
            dataType : 'json',
            contentType: "application/json; charset=utf-8",

            success : function(result) {
                // you can see the result from the console
                // tab of the developer tools
                console.log(result);
            },
            error: function(xhr, resp, text) {
                console.log(xhr, resp, text);
            }
        })

    });
});
</script>
{% endblock %}
