{% extends "base.html" %}
{% block content %}
<style>
body {
  background-image: url("/static/image/adminPic.jpeg");
}
.hsc{

    color: white;
    width: 100%;
}
.i{
    background-color: white;
}
.m{
    margin-right: 100px;
}
</style>



<header id="header">
    <nav>
            <div class="container">
                <div  class=" hsc text-center">
                    <h1>User Messages</h1>
                    </div>
            </div>
    </nav>
    </header>
<main id="site-main">
<div class="container">

<table id="show" border="2">
    <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Message</th>
                <!--<th>Image</th>-->

            </tr>
        </thead>

</table>
</div>
    <div class="container">
    <a class="white" href="/admin">Go Back</a>
</div>
</main>
    <script>
        var myData
        $(document.body).ready(function (e) {
           //doStuff
            console.log("hello")
                 $.ajax({type:"GET",
                     url:"/api/message",
                     success: function(result){
                         myData = result
                         console.log(myData)
                         if(myData !=null || myData !=""){
                            table = $('#show').DataTable( {
                                data: myData ,destroy: true,
                                columns: [
                                    { data: 'm_Name' },
                                    { data: 'm_Email' },
                                    { data: 'm_Subject' },
                                    { data: 'm_Message' },
                                    <!--{ data: 'Image' },-->
                                ]
                            } );
                        }

                  }});
        });


    </script>


    {% endblock %}
